APScheduler==3.10.1
fastapi==0.94.0
lightgbm==3.3.5
matplotlib==3.7.1
numpy==1.24.2
orjson==3.8.7
pandas==1.5.3
pycoingecko==3.1.0
PyGithub==1.58.0
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
statsmodels==0.13.5
urllib3==1.26.15
uvicorn==0.21.0
xgboost==1.7.4
